<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>
<%= form_for :video, :html => {:multipart => true} do |f| %>
  <p>
    <label>My video</label>
    <%= f.file_field :video %>
    <%= f.hidden_field :video_cache %>
  </p>
<% end %>
