<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<div class="container">
<div class='row'>
  <div class = "col-xs-1"></div>
  <div class="upload-div col-xs-10">
    <div class"outside">
    <div class="fileupload center-block btn btn-primary">
    <%= s3_uploader_form callback_url: '/videos',
             id: "s3_uploader",
             callback_param: "document[file_url]",
             expiration: 2.hours.from_now.utc.iso8601,
             callback_method: "POST",
             max_file_size: 300.megabytes do %>
              <div class="choose-file-text">Choose File</div>
    <%= file_field_tag :file, multiple: false, class: "file-chooser-button" %>
  <% end %>
  </div>
  <div id="uploads_container"></div>
  </div>
  </div>
</div>
    <% @videos.each do |video| %>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="video-div col-xs-9">
        <%= link_to (video.name || "Untitled"), video_path(video.id) %>
      </div></div>
    <% end %>
</div>
<script id="template-upload" type="text/x-tmpl">
    <div class="progress progress-striped">
      <div class="bar progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
</script>